<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Águas <br>&nbsp;&nbsp;Futuras</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="historico.html">Histórico da Crise</a></li>

        <li class="dropdown">
          <a href="projecoes" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Projeções<span class="caret"></span></a>
          <ul class="dropdown-menu multi-level" role="menu">
            {% include lista_projecoes.html %}
          </ul>
        </li>

        <li class="dropdown">
          <a href="analises" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Análises<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            {% include lista_analises.html %}
          </ul>
        </li>

        <li class="dropdown">
          <a href="informacoes" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">+ Informações<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="dados.html">Fontes</a></li>
            <li><a href="recursos.html">Recursos</a></li>
            <li><a href="clipping.html">Na Mídia</a></li>
            <li><a href="sobre.html">Sobre</a></li>
          </ul>
        </li>

<!--         <li class="dropdown-header"></li>
             <li class="divider"></li>
-->
      </ul>
    </div><!--/.nav-collapse -->
  </div><!--/.container -->
</div><!--/.navbar -->
{% if page.path == "index.html" %}
<!--<div align="right">
  <a href="http://aguasfuturas.wordpress.com/">Boletins semanais</a>
</div>-->
<!--<div>
    As projeções não estão funcionando temporariamente. Em breve voltaremos a divulgá-las. O arquivo de dados brutos continua sendo atualizado.
</div>-->
<div style="text-align: center; padding-top: 20px;">
    Como tem se comportado o volume do Cantareira? Veja uma análise no <a href="balanco2017.html">balanço de 2017</a>!
</div>
{% endif %}
